*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#f7f4ed;
    font-family:Verdana, Geneva, sans-serif;
    color:#666;
    background-image: url(img/desktop\ wallpaper\ 2321.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    display:grid;
    grid-template-columns:280px 1fr;
    grid-template-areas:
    "header header"
    "aside main"
    "form form"
    "gallery gallery"
    "footer footer";

    gap:20px;
    max-width:1200px;
    margin:auto;
    padding:20px;
}

/* Cabeçalho */

header{
    grid-area:header;
    background:linear-gradient(#a9b98f,#8fa36d);
    color:white;
    text-align:center;
    padding:30px;
    border-radius:12px;
    border:3px solid #dce8c8;
    box-shadow:0 4px 10px rgba(0,0,0,.15);
}

header h1{
    font-size:38px;
    margin-bottom:10px;
}

/* Menu */

aside{
    grid-area:aside;
    background:#eef6e5;
    border:2px solid #d7e4c1;
    border-radius:12px;
    padding:20px;
}

aside h2{
    text-align:center;
    background:#f8d9e0;
    color:#9b6d76;
    padding:10px;
    border-radius:8px;
    margin-bottom:20px;
}

aside ul{
    list-style:none;
}

aside li{
    background:white;
    margin-bottom:10px;
    padding:12px;
    border-radius:8px;
    border:1px solid #d7e4c1;
    transition:.3s;
}

aside li:hover{
    background:#fdeff3;
    transform:translateX(6px);
}

/* Conteúdo */

main{
    grid-area:main;
    background:white;
    padding:25px;
    border:2px solid #ececec;
    border-radius:12px;
    box-shadow:0 3px 8px rgba(0,0,0,.08);
}

main h2{
    color:#8fa36d;
    margin-bottom:15px;
}

main p{
    line-height:1.8;
    text-align:justify;
}

/* Anúncios */

.anuncios{
    display:flex;
    gap:10px;
    margin-top:25px;
}

.caixa{
    flex:1;
    background:#f8d9e0;
    color:#7d5f66;
    padding:18px;
    text-align:center;
    border-radius:10px;
    border:1px solid #e8bcc8;
    font-weight:bold;
    transition:.3s;
}

.caixa:hover{
    background:#f4c8d4;
}

/* Formulário */

.formulario{
    grid-area:form;
    background:white;
    border:2px solid #ececec;
    border-radius:12px;
    padding:25px;

    display:grid;
    grid-template-columns:1fr 1fr auto;
    gap:15px;
    align-items:end;
}

.formulario h2{
    grid-column:1/-1;
    color:#8fa36d;
}

.formulario label{
    font-weight:bold;
}

.formulario input{
    width:205%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:6px;
}

.formulario button{
    background:linear-gradient(#b9ca9a,#8fa36d);
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:8px;
    cursor:pointer;
}

.formulario button:hover{
    background:#7d9360;
}

/* Galeria */

.galeria{
    grid-area:gallery;
    background:white;
    border:2px solid #ececec;
    border-radius:12px;
    padding:20px;

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.galeria img{
    width:100%;
    height:220px;
    object-fit:cover;
    border:5px solid #f8d9e0;
    border-radius:10px;
    transition:.3s;
}

.galeria img:hover{
    transform:scale(1.04);
    border-color:#b9ca9a;
}

/* Rodapé */

footer{
    grid-area:footer;
    background: rgb(248, 217, 224);
    color:#7d5f66;
    text-align:center;
    padding:20px;
    border-radius:12px;
}

/* Mensagem */

#mensagem{
    grid-column:1/-1;
    text-align:center;
    color:#5b8c35;
    font-weight:bold;
    margin-top:10px;
}